<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [opened]="sidenavOpened" [mode]="sidenavMode" class="sidenav">
    <div class="sidenav-header">
      <img src="assets/logo.png" alt="Logo" class="sidenav-logo">
      <div class="logo-text">
        <span class="title">Azs</span>
        <span class="subtitle">Attendance System</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      @for (item of navItems; track item.route) {
        @if (isVisible(item)) {
          <a mat-list-item [routerLink]="item.route" routerLinkActive="active-link">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      }
    </mat-nav-list>
    <div class="sidenav-footer" *ngIf="currentUser$ | async as user">
      <div class="user-info">
        <div class="user-avatar">
          <mat-icon>person</mat-icon>
        </div>
        <div class="user-details">
          <div class="username">{{ user.username }}</div>
          <div class="role">{{ user.role }}</div>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/logo.png" alt="Logo" class="toolbar-logo" *ngIf="isMobile">
      <span class="toolbar-title" *ngIf="isMobile">Scouts</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu>
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon> Profile
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon> Logout
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
